#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.file-explorer-container {
  text-align: left;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.file-explorer-container ul {
  list-style: none;
}

.file-explorer-container ul li {
  display: block;
}

.file-explorer-container .expand-icon {
  margin-right: 5px;
}

.file-explorer-container .delete-icon {
  width: 15px;
  margin-left: 5px;
}
